.footer-p{
    text-align: center;
    color:white;
}

.footer {
    background-color: rgb(128,128,128,.2);
    
}

body{
    background-size:cover;
    background-image: url("../Assets/Images/giphy.gif");

}


.left-header{
    display:flex;
    width:50px;
    height:50px;
    margin-top:40px;
    margin-left:50px;
}


.first-h2{
    text-align: end;
    color:white;
    font-size: 35px;
}

.logo-image{
    text-align: end;
    color:white;
   
   
}

.navbar{
    display:flex;
    flex-direction: row;
    position: relative;
}
.right-header{
  
    display:flex;
    justify-content: center ;
    align-items: center;
    left:1000px;
    position:absolute;
    bottom: 40px;
    
}

 ul{
    display:flex;
    flex-direction: row;
 }

 .header-links{
    padding-left:20px;
    padding-right:20px;
    color:white;
 }

 .header-links:hover{
    color:white;
 }

 .second-section-h2{
    color:white;
    font-family:'Times New Roman', Times, serif;
    position:absolute;
    top:280px;
    padding:10px;
 }

 .watch-video-section{
    display:flex;
    margin-top:300px;
 }

 .second-section-h2{
    position:relative;
    left:33px;
 }

 .watch-video-button{
    margin-left:40px;
    border-radius: 20px;
    width:180px;
    height:40px;
    background-color:white ;
    border-color:white;
    font-weight:bolder;
    margin-bottom:50px;
    
 }

 .careers-link{
    color:white;

 }

 .careers-link:hover{
    color:white;
   
 }

 .copyrights-section{
    display:flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    height:500px;
    width:100%;
 }
 
 .copyrights-section{
    background-size:cover;
    background-image: url("../Assets/Images/Screen\ Shot\ 2023-01-10\ at\ 9.18.10\ AM.png");
 }